<!DOCTYPE html>
<html ng-app="thortHub">
<head lang="en">
    <meta charset="UTF-8">
    <title>ThortHub User Search</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>

<!--<div id="userdata" ng-controller="userSearchController as userData">-->

<!--<h1 class="text-center">-->
    <!--<span />{{userData.login}}</span>-->
    <!--<br>-->
    <!--<a href="{{userData.html_url}}" class="btn btn-default">-->
        <!--<span class="octicon octicon-octoface"></span>-->
        <!--{{userData.login}}-->
    <!--</a>-->
<!--</h1>-->

    <!--<div class="panel-body">-->
        <!--<div class="list-group">-->
            <!--<div ng-repeat="repo in repoData | filter:searchText  | orderBy:predicate:reverse" class="list-group-item ">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8">-->
                        <!--<h4>-->
                            <!--<small>-->
                                <!--<span ng-if="repo.fork" class="octicon octicon-repo-forked"></span>-->
                                <!--<span ng-if="!repo.fork" class="octicon octicon-repo"></span>-->
                            <!--</small>-->
                            <!--<a href="{{repo.html_url}}" target="_blank" >-->
                                <!--{{repo.name}}-->
                            <!--</a>-->
                            <!--<small>{{repo.description}}</small>-->
                        <!--</h4>-->

                        <!--<small>-->
                            <!--<a href="{{repo.homepage}}" class="">-->
                                <!--<i class="fa fa-link"></i> WebPage-->
                            <!--</a>-->
                        <!--</small>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<dl class="dl-horizontal">-->
                            <!--<dt>Last Updated:</dt>-->
                            <!--<dd>{{repo.updated_at | date : short : timezone}}</dd>-->
                            <!--<dt>Created:</dt>-->
                            <!--<dd>{{repo.created_at| date : short : timezone}}</dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->

<!-- //////////////////////////// -->
	                  <div ng-view></div>







	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<script src="js/app.js"></script>
    <!--<script src="js/controllers/userSearchController.js"></script>-->
    <script src="js/controllers/repoSearchController.js"></script>
</body>
</html>